*.bak
*.tmp
*~
/Makefile
*.cbp
/SevenZipJBinding.layout
*.sdf
*.opensdf
*.sln
/sevenzipjbinding-Windows-x86.jar
/sevenzipjbinding*.properties
*.vcxproj
*.vcxproj.filters
/*.cmake
!/CTestConfig.cmake
/CMakeCache.txt
/DartConfiguration.tcl
/.cproject
/.vs
/CMakeFiles
/javac-test
/jbinding-cpp/*.vcxproj
/jbinding-cpp/*.vcxproj.filters
/jbinding-cpp/cmake_install.cmake
*.dll.a
/jbinding-cpp/Makefile
*.dll
*.so
/jbinding-cpp/7-Zip-JBinding.dir
/jbinding-cpp/CMakeFiles
/jbinding-cpp/javah
/jbinding-cpp/Debug
/jbinding-cpp/Release
*.jar
/jbinding-java/bin-core
/Windows-x86
/x64
/Win32
/Debug
/Release
/prepackage.tmp
/Testing
/jbinding-java/scrapbook.jpage
/JUnitRunner.cmake
/Linux-amd64
Session.vim
/tags
/test/JavaTests/bin
